@use "../variables"as *;
@use "../media"as *;

.hero {
  padding-top: 200px;
  color: $light;
  background-color: black;
  padding: 218px 0 245px;
  background-color: $purple;
  background-image: url("/img/bg-dog.png"), url("/img/pattern.svg");
  background-size: contain, auto;
  background-position: right bottom, center;
  background-repeat: no-repeat, repeat;

  &__store {
    background-color: $green;

    .hero__text {
      margin-bottom: 0;
    }
  }

  @include bigscreen {
    background-image: url("/img/bg-dog-bigscreen.png"), url("/img/pattern.svg");
    background-position: left 48vw bottom 0, center;
    background-size: 1240px, auto;
  }

  @include laptop {
    padding: 148px 0 172px;
    background-image: url("/img/bg-dog-laptop.png"), url("/img/pattern.svg");
  }

  @include tablet {
    padding: 148px 0 461px;
    background-size: 655px 564px, cover;
    background-image: url("/img/bg-dog-tablet.png"), url("/img/pattern.svg");
  }

  @include mobile {
    padding: 100px 0 284px;
    background-size: 294px 261px, cover;
    background-image: url("/img/bg-dog-mobile.png"), url("/img/pattern.svg");
  }

  &__title {
    width: 810px;
    max-width: 100%;
    margin-bottom: 50px;

    @media (max-width: 1300px) {
      width: 660px;
    }

    @include laptop {
      width: 588px;
      margin-bottom: 32px;
    }

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 480px;
    margin-bottom: 60px;

    @include laptop {
      max-width: 360px;
    }
  }

  &__store-link {
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 16px 24px;
    background-color: $green;
    transition: background-color 0.3s, opacity 0.3s;
    outline: 1px solid transparent;


    &:focus {
      outline-color: $carrot;

    }

    &:hover {
      background-color: #00772f;
    }

    &:active {
      opacity: 0.6;
    }

    &::after {
      content: '';
      display: block;
      margin-left: 5px;
      width: 16px;
      height: 16px;
      background-image: url("/img/store-arrow.svg");
    }

  }
}

.products {
  padding: 100px 0;
}

.products__list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 0px 16px 16px 16px;
  max-width: 408px;
  width: 100%;
  min-height: 499px;
  background-color: #fff;

  h3 {
    margin-bottom: 4px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-weight: 400;
    color: $green;
  }
}

.product-card__btn {
  margin-top: auto;
  width: 100%;
  border-radius: 40px;
  padding: 16px 24px;
  background-color: $purple;
  font-weight: 700;
  color: $light;
}

.products__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.products__nav-btn {
  padding-bottom: 10px;
  color: $carrot;
  border-bottom: 1px solid transparent;
  transition: color 0.5s, border 0.5s;
}

.products__nav-btn--active {
  border-color: $green;
  color: $green;
}

.products__nav-list {
  display: flex;
  align-items: center;
}

.products__nav-item:not(:last-child) {
  margin-right: 26px;
}

.products__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 52px;
  line-height: 130%;
  color: $green;
}

.products__nav-btn-cart {
  width: 50px;
  height: 50px;
  position: relative;
}

.products__nav-btn-cart svg {
  width: 50px;

}

.products__nav-btn-cart-num {
  position: absolute;
  top: 63%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

/* Добавьте в ваш CSS файл */

.preloader {
  position: absolute;
  display: none;
  color: #008234;
  font-size: 14px;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
  


.preloader.active {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 10000;
}